/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
}

/*********************
HEADER STYLES
*********************/
.cycle-slideshow, #prev, #next {
    display: block;
}

#feature-generic{
    height: 220px;
    display: block;
}
#feature, #feature-generic{
    position: relative;
    overflow: hidden;
    img{
        display: block;
        position: absolute;
        margin-left: -960px;
        left: 50%;
    }
}
.feature-info-holder{
    position: absolute;
    top: 320px;
    /*outline: 1px solid red;*/
    h1{
        /*max-width: 340px;*/
        color: $white;
        @include muli300;
        line-height: 36px;
        font-size: 38px;
        text-transform: uppercase;
        left: 0!important;
        top: -50px!important;
        @include textshadow();
    }
}
#next, #prev{
    position: absolute;
    z-index: 1;
    top: 400px;
    color: $white;
    background: $black_alpha;
    font-size: 30px;
}
#next{right: 0;}
#prev{left: 0;}

.floating_home_sidebar{
    -webkit-box-shadow: -2px -1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px -1px 3px rgba(0,0,0,0.3);
    -ms-box-shadow: -2px -1px 3px rgba(0,0,0,0.3);
    -o-box-shadow: -2px -1px 3px rgba(0,0,0,0.3);
    display: block;
    width: 355px;
    @include css-gradient();
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 35px;
    h2{
        padding: 30px;
        margin: 0;
        line-height: 0;
        color: $white;
        @include muli300;
        text-transform: uppercase;
        font-size: 22px;
        background: $acorn_green_med;
    }
    .date{
        @include muli300;
    }
    p{
        margin: 0;
        line-height: 19px;
        margin: 0 0 1.5em;
    }
    .inner_wrap{
        padding: 30px;
        hr{
            margin-top: 40px;
        }
        
        h2{
            background: none;
            color: $gray;
            padding: 0;
            line-height: 1em;
            margin: 40px 0 25px 0;
        }
        .quote_text{
            color: $text-color;
            margin-bottom: 5px;
        }
        .quote_author{
            text-align: right;
        }
    }
}

.static_home_sidebar{
    display: none;
}


.header {}

	#logo {}

#container{
    margin-top: 117px;
}
/*********************
NAVIGATION STYLES
*********************/

.nav {
	border-top: 2px solid $acorn_green_light;
        margin-top: 15px;
	ul {
		margin-top:0;
	}
	li {
		float: left;
                text-transform: uppercase;
		position: relative;
                width: 16.666%;
                text-align: center;
		a {
			border-bottom: 5px solid transparent;
                        color: $acorn_green_dark;
                        @include muli300;
                        font-size: 14px;
                        

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
                                background: $acorn_green_med;
				text-decoration: underline;
                                border-bottom: 5px solid $acorn_green;
			}
		}
                [title="border1"]{border-color: #698C00;} /*-- #222222 --*/
                [title="border2"]{border-color: #4C6600;} /*-- #4e4e4e --*/
                [title="border3"]{border-color: #404000;} /*-- 7a7a7a --*/
                [title="border4"]{border-color: #8C8C00;} /*-- a7a7a7 --*/
                [title="border5"]{border-color: #204000;} /*-- d3d3d3 --*/
                [title="border6"]{border-color: #A0AB76;} /*-- e8e8e8 --*/

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			/*border: 1px solid #ccc;*/
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;
                        background: $acorn_green_med;

			li {
                            width: 100%;

				a {
					padding: 15px 20px;
					border-right: 0;
					display: block;
					width: 173px;
                                        color: white;
                                        text-transform: capitalize;
					/*border-bottom: 1px solid #ccc;*/

					&:hover,
					&:focus {
                                            background: $acorn_green;
                                            border-color: transparent;
                                            color: $white;
                                        }

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

}


.footer-nav{
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 20px;
    li{
        width: auto;
        padding: 0;
        margin: 0;
        border-left: 1px solid $acorn_green_dark;
        &:first-child{
            border-left: none;
        }
    }
    a{
        padding: 0 7px!important;
        border: none!important;
        font-size: 11px!important;
        &:hover{
            color: $acorn_green_med!important;
            background: none!important;
        }
    }
}

 /* end .nav */

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	/*margin-top: 2.2em;*/
}

	.widgettitle {
		
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


	/* links widget */
	.widget_links {}
	.widget_links ul {}
	.widget_links ul li {}
	.widget_links ul li a {}

	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}

	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}

	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}

	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {}
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}

	/* tag-cloud widget */
	.widget_links {}
	.widget_links li:after {}
	.widget_links li:before {}
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}

	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}

	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {}
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}

	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}

	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}

	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */


/*********************
TEAM STYLES
*********************/
.team{
    &:nth-child(2n+1){
        border-bottom: 1px solid transparent;;
    }
}





/*********************
    HEADING PARA
*********************/
.home-heading-para{
    line-height: 1em;
    margin-bottom: 20px!important;
}

#content {
    margin: 0;
}